.button {
  background-color: #B40101;
  border: 1px solid #820807;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  font-family: Urbanist;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: 0.5s;
}

.button:hover,
.button:active {
  background-color: white;
  background-position: 0 0;
  color: #FF4742;
}

.button:active {
  opacity: .5;
}
